<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<!--Site Bilgileri-->
		<add key="InfoMail" value="info@trios.com.tr"/>
		<add key="WebSiteURL" value="http://www.trios.com.tr"/>
		<add key="WebSiteMail" value="noreply@trios.com.tr"/>
		<add key="WebSiteMailPassword" value="Q1W2E3R4!"/>
		<add key="WebSiteMailHost" value="mail.trios.com.tr"/>
		<add key="WebSiteMailPort" value="587"/>
		<add key="IKMail" value="info@trios.com.tr"/>
		<add key="CVMail" value="info@trios.com.tr"/>
		<add key="CVDirectoy" value=""/>
		<add key="DefaultSiteDili" value="tr"/>
		<add key="DestinationZip" value="/Uploads/Backup/"/>
		<add key="SourceFolder" value="/Uploads"/>
		<add key="FoldersToIgnore" value="/Uploads/dokuman,/Uploads/resim,/Uploads/video"/>
		<add key="Telerik.Skin" value="Default"/>
		<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
		<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
	</appSettings>
	<connectionStrings>


		<add name="DefaultEntities" connectionString="metadata=res://*/DefaultDB.csdl|res://*/DefaultDB.ssdl|res://*/DefaultDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=FLYNN\SQLEXPRESS;Initial Catalog=BlogDB; User ID=sa; Password=1; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

   
  -->
	<system.web>
		<sessionState mode="InProc" cookieless="false" timeout="6000" cookieSameSite="Lax"/>
		<customErrors mode="Off"/>
		<!--<customErrors mode="On"  defaultRedirect="~/404.html">
      <error statusCode="404" redirect="~/404.html" />
      <error statusCode="500" redirect="~/404.html" />
    </customErrors>-->
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="~/" cookieSameSite="None" requireSSL="true"/>
		</authentication>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR"/>
		<machineKey validationKey="9047FE9AE30C9E7270B44059A9B9B1BF680F091199DDD60E4F33A910F1290917ED5C54EAA1BA244321531C391AA69729EA1EF0BA7F64D0CE66ED4F65DAB69FCA" decryptionKey="4F19ECCE2CEAF026EA2B127BF9C9AF0F2C86F1F9AE4406450389D01D42CF7F79" validation="SHA1" decryption="AES"/>
		<compilation targetFramework="4.7.2" debug="true">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
			</buildProviders>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" renderAllHiddenFieldsAtTopOfForm="true">
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="asp"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<httpRuntime maxRequestLength="409312" executionTimeout="360000" requestValidationMode="2.0"/>
	</system.web>
	<system.web.extensions>
		<scripting>
			<scriptResourceHandler enableCompression="false" enableCaching="true"/>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name="html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
			<remove name="ChartImage_axd"/>
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_Web_UI_DialogHandler_aspx"/>
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_RadUploadProgressHandler_ashx"/>
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
			<remove name="Telerik_Web_UI_WebResource_axd"/>
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="419135488"/>
			</requestFiltering>
		</security>
		<!--<rewrite>
      <rules>
        <clear/>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^yatkiralama.com$"/>
          </conditions>
          <action type="Redirect" url="https://www.yatkiralama.com/{R:0}" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.7.1213" newVersion="4.1.7.1213"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
<!--ProjectGuid: a14fd585-aee0-4621-9389-b324a8a0bef9-->